<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL-SHORTNER</title>
    <style>
        body {
            display: flex;
            background-color: aqua;
            height: 100%;
            justify-content: center;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }

        .url {
            max-width: 250px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    </style>
</head>

<body>
    <div>
        <% if (locals.id) { %>
            <p>`URL generated : http://localhost:6969/<%= id%>`</p>
            <p ><a href="/">Back to home </a></p>

            <% } %>
            <a href="/login">Login</a>
            <a href="/signup">signup</a>
                <form action="/url" method="post">
                    <label for="url">Enter your Original URL</label>
                    <input type="text" name="url" id="url">
                    <button type="submit">Submit</button>
                </form>
                <% if (locals.allUrl) { %>
                    <table>
                        <thead>
                            <th>S. no</th>
                            <th>short id</th>
                            <th>Redirect </th>
                            <th>clicks</th>
                        </thead>
                        <tbody>
                            <% allUrl.forEach((url , index)=> { %>
                                <tr>

                                    <td>
                                        <%= index +1%>
                                    </td>
                                    <td>
                                        <%= url.shortID %>
                                    </td>
                                    <td class="url">
                                        <a href="<%= url.redirectUrl %>" target="_blank">
                                            <%= url.redirectUrl %>
                                        </a>
                                    </td>
                                    <td>
                                        <%= url.visitHistory.length %>
                                    </td>

                                </tr>
                                <% }) %>
                        </tbody>
                    </table>

                    <% } %>
    </div>

</body>

</html>